@import url('https://fonts.googleapis.com/css?family=Poppins');

.appWrap{
  font-family: 'Poppins', sans-serif;
  padding: 20px;
}

.homePageWrap{

  min-width: 100vw;
  display: flex;
  flex-direction: column;

}

.heading{
  text-align: center;
  font-size: 40px;
}