@import url("https://fonts.googleapis.com/css?family=Poppins");

.appWrap {
  font-family: "Poppins", sans-serif;
  padding: 20px;
  background: url("newspaper.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

.homePageWrap {
  display: flex;
  flex-direction: column;
}

.headingHomePage {
  color: rgb(238, 204, 204);
  font-weight: bold;
  text-align: center;
  font-size: 54px;
  margin-top: 2%;
  margin-bottom: 3%;
}

.heading {
  color: rgb(238, 204, 204);
  font-weight: bold;
  text-align: center;
  font-size: 54px;
  margin-top: -4%;
  margin-bottom: 3%;
}

.list {
  background-color: rgb(238, 204, 204);
  border-radius: 5px;
  align-self: center;
  margin-top: 3%;
  margin-left: 16%;
  margin-right: 16%;
  list-style: none;
  padding-top: 16px;
  padding-bottom: 16px;
}

.listItem {
  padding-right: 5%;
}

.itemTitle {
  font-size: 18px;
}
.linkInWrap a {
  color: rgb(58, 57, 57);
}

.linkInWrap a:hover {
  color: white;
  text-decoration: none;
}

.buttonInWrap {
  color: rgb(58, 57, 57);
  border-radius: 5px;
  border-width: 2px;
  border-color: rgb(145, 145, 145);
  background-color: rgb(238, 204, 204);
  border-style: solid;
  margin-left: 15px;
}

.buttonInWrap:hover {
  color: white;
}

.buttonsWrap {
  position: absolute;
  right: 19%;
}

.line {
  border: 0;
  background-color: rgb(168, 167, 167);
  height: 1.5px;
  cursor: pointer;
  margin-right: 6%;
}

.buttonHomePage.btn {
  border: 2px solid;
  background-color: rgba(100, 99, 99, 0.3);
  margin-right: 16%;
  margin-left: 16%;
  position: relative;
  float: right;
}

.buttonHomePage.btn-outline-success {
  color: rgb(238, 204, 204);
  border-color: rgb(238, 204, 204);
  font-weight: 600;
}

.buttonHomePage.btn-outline-success:hover {
  background-color: rgb(238, 204, 204);
  border-color: rgb(238, 204, 204);
  color: white;
}

/* article show */
.back {
  position: relative;
  left: 3vw;
  text-align: left;
  top: 4vh;
  color: rgb(39, 39, 39);
  font-size: 7vh;
}


.back:hover {
  color: rgb(182, 182, 182);
}

.loading{
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  align-items: center;
}



.articleShow {
  align-self: center;
  background-color: rgb(238, 204, 204);
  padding: 3%;
  margin-top: 2%;
  margin-bottom: 4%;
  margin-left: 18%;
  margin-right: 18%;
  border-radius: 5px;
  min-width: 60vw;
}

/* new article*/

.newArticleWrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 5%;
}

.saveButton.btn {
  border: 2px solid;
  background-color: rgba(100, 99, 99, 0.3);
}

.saveButton.btn-outline-success {
  color: rgb(238, 204, 204);
  border-color: rgb(238, 204, 204);
  font-weight: 600;
}

.saveButton.btn-outline-success:hover {
  background-color: rgb(238, 204, 204);
  border-color: rgb(238, 204, 204);
  color: white;
}

.inputLabel {
  color: rgb(238, 204, 204);
  font-size: 18px;
}



/*edit articke*/
.inputText{
  color: rgb(238, 204, 204);
  font-size: 18px;
  display: flex;
}

.inputTitle{
  color: rgb(238, 204, 204);
  font-size: 18px;
  display: flex;
}

.form{
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-self: center;
}


.formTopMargin.form-group{
  margin-bottom: 3.5vw;
}

.saveButtonEdit.btn {
  border: 2px solid;
  background-color: rgba(100, 99, 99, 0.3);
  width: 125px;
  display: flex;
  align-self: flex-end;
}

.saveButtonEdit.btn-outline-success {
  color: rgb(238, 204, 204);
  border-color: rgb(238, 204, 204);
  font-weight: 600;
}

.saveButtonEdit.btn-outline-success:hover {
  background-color: rgb(238, 204, 204);
  border-color: rgb(238, 204, 204);
  color: white;
}


.saveButtonEdit.btn {
  border: 2px solid;
  background-color: rgba(100, 99, 99, 0.3);
  width: 125px;
  display: flex;
  align-self: flex-end;
}

.saveButtonCreate.btn-outline-success {
  color: rgb(238, 204, 204);
  border-color: rgb(238, 204, 204);
  font-weight: 600;
}

.saveButtonCreate.btn-outline-success:hover {
  background-color: rgb(238, 204, 204);
  border-color: rgb(238, 204, 204);
  color: white;
}

.saveButtonCreate.btn {
  border: 2px solid;
  background-color: rgba(100, 99, 99, 0.3);
  width: 138px;
  display: flex;
  align-self: flex-end;
}